Feature 1:

In an MFS mobile app named EasyPay, customers can pay any merchant and utility bills. For each merchant bill payment, a 1% service charge will be deducted from the customer's balance, with a minimum transaction fee of 5 TK. If a customer makes a transaction of more than 5000 TK, they will get a 10% cashback. If the customer makes a transaction of more than 10,000 TK, they will receive a maximum of 20% cashback, with the maximum cashback amount being 3000 TK. But no cashback will be applied for the utility bills.

Feature 2:
If a customer has a balance of less than 100 tk, s/he can apply for a loan of up to 20000 tk. If the customer repays the loan within 30 days from the loan initiation day, no interest will be charged. However, if the customer fails to repay within this period, a daily interest of 1.8% will be applied in a compound interest manner on the remaining amount.
Additionally, if a customer has already paid 50% of the remaining payment, they are eligible to apply for another loan.

1. Write the acceptance criteria for both features on rule based standard 
2. Write test cases (Positive & Negative) for Feature 1 and Feature 2 in a standard test case format 
3. Visit this site and write minimum 10 bug/improvement with appropriate priority and severity 

URL: https://master.d1zgfbpp372908.amplifyapp.com/login
Admin login email: *************
password: *****
System user login email: *********
password: *****
General activities you can perform:
1. Login using the following user creds as admin
2. Admin can create Customer, Agent, another admin or merchant
3. System user can deposit to agent
4. Agent can deposit or payment to a merchant
5. Customer can withdraw and payment
6. Merchant can only see transaction history of received payment
4. Write the feature Id serially by its priority level and explain how have you prioritized the features in a google doc. Priority Table is attached below. (20)
